* {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app_header h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}

.app_left {
  flex: 0.9;
}

.app_right {
  display: flex;
  flex-direction: column;
}

.app_right .MuiCardContent-root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.app_dropdown {
  background-color: white;
}

.app_graph {
  flex-grow: 1;
}

.app_graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.leaflet-control-attribution {
  display: none !important;
}

/* .MuiCardContent-root:last-child {
  padding-bottom: 7px !important;
} */

.last-updated {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
  color: grey;
  opacity: 0.7;
}

@media (max-width:990px) {
  .app {
    flex-direction: column;
  }
  .app_stats {
    flex-direction: column !important;
  }
 
  
}